rmdir /s /q .nuxt
rmdir /s /q node_modules\.cache
del package-lock.json
rmdir /s /q dist
npm cache clean --force

rm -rf .nuxt node_modules/.cache dist
npm install
npm run dev

npm prune
npm list --json